{% extends 'base_hero.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Bravo</h1>

    <div class="mb-3 text-center">
        <a href="{{ path('app_home') }}" class="btn btn-primary">Aller à l'accueil</a>   
        <a href="{{ path('app_logout') }}" class="mt-3 d-block">Déconnexion</a>                    
    </div>
{% endblock %}
