body, html {
    height: 100%;
}

.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../img/static/sven-piek-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.trick-link {
    display: inline-block;
}

.btn-delete, .btn-edit {
    border: none;
    background: none;
}

.media-edit-buttons-container, .trick-edit-buttons-container {
    background-color: rgba(255,255,255,0.5);
}

.card-img-top {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

/* w3schools */
.shake:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(2px, 1px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 1px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(2px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.trick-meta-data__creation-date, .trick-meta-data__update-date, .trick-meta-data__author, .trick-meta-data__comments-number, .trick-meta-data__category {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 1rem;
    font-size: 0.9rem;
}

.trick-image-container__image {
    width: 100%;
    max-height: 512px;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.comment-card {
    border: none;
    background: none;
}

.comment-card__content {
    background-color: rgba(255,255,255,0.9);
    border : 1px solid var(--bs-gray-300);
    border-radius: 0.25rem;
}

.comment-card__author-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-card__author-picture > img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border : 1px solid var(--bs-gray-300);
    border-radius: 100%;
}

@media (max-width: 576px) {
    .comment-card__author-picture > img {
        height: 4rem;
        width: 4rem;
    }
}

