<div class="d-flex justify-content-center">
    <span
        id="trick-pictures-form-prototype"
        data-prototype=
            "<div id='trick_pictures___name___card' class='card shadow-sm m-2 m-lg-1 position-relative'>
                <img class='card-img-top' src='{{ asset('img/static/default-upload.png') }}' alt='waiting for file input' data-modal='trick_pictures___name___modal'>
            </div>
            {{ form_row(form.pictures.vars.prototype)|e('html_attr') }}
            <button type='button' class='btn btn-danger m-auto mb-1'>
                Annuler <i class='bx bx-x bx-fw'></i>
            </button>"
    ></span>
    <button 
        type="button" 
        data-target="trick-pictures"
        class="btn btn-primary addSubformButton"
    >
            Ajouter une image <i class='bx bx-image-add bx-fw'></i>
    </button>
</div>
