{% extends 'base_hero.html.twig' %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal text-center">{{ status_code }} : {{ status_text }}</h1>

    <p class="text-center">
        Une erreur est survenue, veuillez réessayer plus tard.
        <br>
        <a href="{{ path('app_home') }}">Retourner à l'Accueil</a>
    </p>
{% endblock %}
